body { 
    font-family: Helvetica, sans-serif;
    margin: 10px;
    font-size: 15px;
    line-height: 30px;
}

header{ 
    background-color: #D33310;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

header h1{
    color: #f6be05;
    font-size: 40px;
}

header img{
    border-radius: 150px;
    width: 140px;
    border: 3px solid #f6be05;
}

h1,h2{
    font-family: 'Mrs Sheppards', cursive;
    text-align: center;
}

main{ 
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 20px 20px 0px;
}

h2{
    font-size: 25px;
}

p{
    
}





