body { 
    font-family: Helvetica, sans-serif;
    margin: 10px;
    font-size: 15px;
    line-height: 30px;
}
/* where jerry is */
header{ 
    background-color: #D33310;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

header h1{
    color: #f6be05;
    font-size: 40px;
}

header img{
    border-radius: 150px;
    width: 140px;
    border: 3px solid #f6be05;
}

h1,h2{
    font-family: 'Mrs Sheppards', cursive;
    text-align: center;
}

main{ 
    max-width: 1600px;
    margin: 0 auto;
    padding: 0px 20px 20px 0px;
}

h2{
    font-size: 25px;
    color: black;
    margin: 20px 0px 0px 20px;
}

footer{
    background-color: #D33310;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer p{
    font-style: italic;
    color: white;
    margin: 0;
}

p.caption{
    color: #999999;
    font-style: italic;
    margin: 0px 0px 100px 0px;
}

.splitscreen{
    display: flex;
}

.splitscreen .left{
    flex:1;
    padding: 0px 50px 0px 50px;
}

.splitscreen .right{
    flex:1;
    padding: 0px 50px 0px 50px;
}










